.global {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.globalButton {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  color: white;
  border: none;
  background: black;
  padding: 20px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  img {
    height: 300px;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 300px;
  }

  .global {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .globalButton {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    color: white;
    border: none;
    background: black;
    padding: 20px;
    border-radius: 15px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  img {
    height: 400px;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 400px;
  }

  .global {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .globalButton {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    color: white;
    border: none;
    background: black;
    padding: 20px;
    border-radius: 15px;
  }
}
